@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
}
header{
    height: 60px;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    font-family: Arial, sans-serif;
}
.logo{
    width: 30%;
    padding-left: 9rem;
    display: flex;
    font-weight: bold;
    color: #333333;
    justify-content: center;
    align-items: center;    
}
.logo h1 i{
    color: #0047B3;
}
nav{
    width: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 8rem;
    
}
nav a{
    margin: 0 25px;
    text-decoration: none;
    color: #0047B3;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}



/* Contact Page Styles */
.contact_container{
    height: 100vh;
    width: 100%;
    background-color: #cfcfcf;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.contact_container h2{
    padding-top: 40px;
    font-size: 34px;
    color: #333333;
}
.contact_container p{
    margin-top: 20px;
    font-size: 18px;
    color: #555555;
}
.contact_container form{
    margin-top: 30px;
    font-size: 16px;
    color: #777777;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_container form input, .contact_container form textarea{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact_container form .btn{
    padding: 10px 20px;
    background-color: #0047B3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contact_container form .btn:hover{
    background-color: #003380;
}



/* Footer Part */


.footer{
    height: 60px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: sticky;
    bottom: 0;

}