*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container{
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    height: 450px;
}
.login-container .header{
    text-align: center;
    /* margin-bottom: 20px; */
    position: relative;
    top: -20px;
}
.login-container .header img{
    width: 100px;
    height: auto;
}
.login-container h2{
    margin-bottom: 20px;
    color: #646464;
    font-size: 30px;
    text-align: center;
}
.login-container input[type="text"],
.login-container input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
.login-container .login-button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}