@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
}
header{
    height: 60px;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    font-family: Arial, sans-serif;
}
.logo{
    width: 30%;
    padding-left: 9rem;
    display: flex;
    font-weight: bold;
    color: #333333;
    justify-content: center;
    align-items: center;    
}
.logo h1 i{
    color: #0047B3;
}
nav{
    width: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 8rem;
    
}
nav a{
    margin: 0 25px;
    text-decoration: none;
    color: #0047B3;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}



/* Page 1 Styles */



.page1{
    height: 100vh;
    width: 100%;
    background-color: #cfcfcf;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page1 .background_image{
    width: 100%;
    max-height: 600px;
    margin-bottom: 30px;
}

.page1 .text{
    max-width: 800px;
    padding: 20px;
    display: inline-block;
    text-align: left;
    position: relative;
    top: -500px;
    left: -70px;
}
.page1 h2{
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}
.page1 p{
    font-size: 18px;
    margin-bottom: 40px;
    color: #555;
}
.page1 .btn{
    padding: 10px 20px;
    margin: 25px;
    background-color: #0066FF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}



/* page 2 Styles */



.page2{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.page2 .section1{
    width: 30%;
    background-color: whitesmoke;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.5s, box-shadow 0.3s;
}
.page2 .section1 a{
    text-decoration: none;
}
.page2 .section1 i{
    font-size: 50px;
    color: #0047B3;
}
.page2 .section1 h3{
    margin: 10px 0;
    color: #333;
}
.page2 .section1 p{
    color: #555;
    font-size: 16px;
}
.page2 .section1:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.page2 .btn{
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #0066FF;
    color: white;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
/* Footer Styles */



.footer{
    height: 60px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}