*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    display: flex;
    font-family: Arial, sans-serif;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    flex-grow: 1;
    text-align: left;
}
nav{
    margin: 10px 0;
    text-align: center;
    
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}